tag_prefix = "v"
from_latest_tag = false
ignore_merge_commits = true
branch_whitelist = ["main"]
pre_bump_hooks = [
    "cargo set-version --workspace {{version}}",
    "cargo build --release --target=aarch64-apple-darwin",
    "cargo build --release --target=aarch64-unknown-linux-gnu",
    "cargo build --release --target=i686-pc-windows-gnu",
    "cargo build --release --target=i686-pc-windows-msvc",
    "cargo build --release --target=i686-unknown-linux-gnu",
    "cargo build --release --target=x86_64-apple-darwin",
    "cargo build --release --target=x86_64-pc-windows-gnu",
    "cargo build --release --target=x86_64-pc-windows-msvc",
    "cargo build --release --target=x86_64-unknown-linux-gnu",
]
post_bump_hooks = [
    "git push",
    "git push origin v{{version}}",
]
pre_package_bump_hooks = []
post_package_bump_hooks = []

[git_hooks]

[commit_types]

[changelog]
path = "CHANGELOG.md"
template = "remote"
remote = "codeberg.org"
repository = "git-mit"
owner = "PurpleBooth"

authors = []
